<!-- comments and most empty lines are stripped from output HTML -->
<!DOCTYPE HTML>
<html>

<head>
<title>{{sitename}} - Home</title>

<!-- header.html must come after codehilite include -->
{{include codehilite}} <!-- removing this will save 4.4kb -->
{{include header.html}} <!-- standard header - stylesheets, page title, etc. -->

<!-- mathjax comes from CloudFlare JS CDN, not local file -->
<!-- {{ include mathjax}} --> <!-- remove the space between {{ and 'include' -->
</head>



<body>

<!-- top navbar (homepage link) -->
<div class="topnav"><a class="topnav" href="index.html">{{sitename}}</a></div><br>

<!-- the title is probably something like 'Homepage'; uncomment if you want -->
<!-- <h1><b>{{title}}</b></h1> -->

{{body}}

<!-- All posts list inserted here - see bottom of file for list template -->
<hr>
<h1>All posts:</h1>
<ul>{{place-list posts}}</ul>


<!-- footer: copyright notice and link to homepage -->
{{include footer.html}}

</body>
</html>



<!-- All posts list: {{begin-list posts}}
<li><a href="{{list-element url}}">{{list-element title}}</a></li>
{{end-list posts}} -->
