<!-- comments and empty lines are stripped from output HTML -->
<!DOCTYPE HTML>
<html>

<head>
<title>{{sitename}} - {{title}}</title>

<!-- to save 4.4kb/page, remove this from here, and just put it anywhere inside
     a post's markdown file if you need code highlighting for that post -->
{{include codehilite}}

<!-- standard header - stylesheets, page title, etc. -->
<!-- this should come after the codehilite include -->
{{include header.html}}

<!-- mathjax comes from CloudFlare JS CDN, not local file -->
<!-- like codehilite, it would save bandwidth to put it into markdown as
     required, instead of bundling it with every page -->
<!-- {{ include mathjax}} --> <!-- remove the space between {{ and 'include' -->
</head>



<body class="markdown-body">

<!-- top navbar (homepage link) -->
<div class="topnav"><a class="topnav" href="index.html">{{sitename}}</a></div><br>

<h1>{{title}}</h1>
<h5>{{author}}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{date}}</h5>

{{body}}

<!-- next/prev post links -->
<br>
<div class="l-r_flex_container">
	<div>
		<h5 style="margin-top: auto; margin-bottom: auto;">Previous</h5>
		<a href="{{prev-url}}">{{prev-title}}</a>
	</div>
	<div style="text-align: right;">
		<h5 style="margin-top: auto; margin-bottom: auto;">Next</h5>
		<a href="{{next-url}}">{{next-title}}</a>
	</div>
</div>
<br>

<!-- footer: copyright notice and link to homepage -->
{{include footer.html}}

</body>
</html>
