/* footers (copyright/homepage link, prev/next post) */
.l-r_flex_container{
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
}

/* limit max width & put some padding on the sides/top/bottom */
.markdown-body {
	box-sizing: border-box;
	min-width: 200px; max-width: 980px;
	margin: 0 auto; padding: 45px;
}

/* navbar */
div.topnav a:hover, div.topnav a:link, div.topnav a:visited { text-decoration: none }
div.topnav a:hover:not(.active) { color: #000 }
a.topnav {
	display: block;
	color: gray;
	padding: 0 0;
	text-transform: uppercase;
	font-size: 18px;
}

/* make mark (highlight) gray instead of yellow */
.markdown-body mark {
	background-color: #f0f0f0;
	font-weight: lighter;
	padding: 0 4px
}

/* keep emojis from being 64x64px */
.markdown-body .emojione, .markdown-body .gemoji, .markdown-body .twemoji {
	max-height: 20px;
	max-width:  20px;
}
