/*
Open Sans font - https://fonts.google.com/specimen/Open+Sans
Font under the Apache license 2.0 - http://www.apache.org/licenses/LICENSE-2.0
This CSS from https://google-webfonts-helper.herokuapp.com/fonts/open-sans
*/

/* We only need regular (400) and bold (700) weights */

/* open-sans-regular */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('font/open-sans-v15-latin-regular.woff2') format('woff2');
}

/* open-sans-italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('font/open-sans-v15-latin-italic.woff2') format('woff2');
}

/* open-sans-700 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('font/open-sans-v15-latin-700.woff2') format('woff2');
}

/* open-sans-700italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('font/open-sans-v15-latin-700italic.woff2') format('woff2');
}
