/* BODY */
body {
	background-color: #fffdf0;
	font-family: "Open Sans", sans-serif;

	/* limit max width & put some padding on the sides/top/bottom */
	box-sizing: border-box;
	min-width: 200px; max-width: 980px;
	margin: 0 auto; padding: 45px;
}


/* LINKS */
/* use blue color and underline only on hover */
a { color: #0366d6; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }


/* HEADERS */
h1, h2, h3, h4, h5, h6 { font-family: "Zilla Slab", sans-serif; font-weight: 600; } /* semibold */
.title { font-weight: 700; }

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }


/* MARK (highlight) */
/* make slightly more gray (not pure yellow) */
mark {
	background-color: #fafa50;
	font-weight: lighter;
	padding: 0 4px
}


/* override codehilite style's background color, and set padding */
.codehilite { background-color: #f3f1e0; padding: 5px 8px; }
/* more padding for block code */
.codehilite pre { background-color: #f3f1e0; padding: 5px 20px; }
/* table that wraps line-numbered code blocks */
.codehilitetable { background-color: #f3f1e0; margin-bottom: 20px; }
.codehilitetable pre { padding: 0 0; }

/* footers (copyright/homepage link, prev/next post) */
.l-r_flex_container{
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
}

/* navbar */
div.topnav a:hover { text-decoration: none }
div.topnav a:hover:not(.active) { color: #000 }
a.topnav {
	display: block;
	color: #686868;
	padding: 0 0;
	text-transform: uppercase;
	font-size: 18px;
}

/* keep emojis from being 64x64px */
.emojione, .gemoji, .twemoji {
	max-height: 20px;
	max-width:  20px;
}


/* TABLES AND <KBD> AND H1/H2 UNDERLINE
Modified from Sindre Sorhus's github-markdown CSS (MIT License)
Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (sindresorhus.com)
    https://github.com/sindresorhus/github-markdown-css
    https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/license
 */
table { border-spacing: 0; border-collapse: collapse; }
table th { font-weight: 600; }
table th, table td { padding: 6px 13px; border: 1px solid #dfe2e5; }
table tr { border-top: 1px solid #c6cbd1; }
table tr:nth-child(2n) { background-color: #f5f3e3; }
kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: #444d56; vertical-align: middle; background-color: #fafbfc; border: solid 1px #d1d5da; border-bottom-color: #c6cbd1; border-radius: 3px; box-shadow: inset 0 -1px 0 #c6cbd1; }
h1 { padding-bottom: 0.3em; border-bottom: 1px solid #e8dfcd; }
h2 { padding-bottom: 0.3em; border-bottom: 1px solid #e8dfcd; }
