/*
Zilla Slab font - https://github.com/mozilla/zilla-slab
Font license: https://github.com/mozilla/zilla-slab/blob/master/LICENSE
This CSS modified from https://code.cdn.mozilla.net/fonts/zilla-slab.css
*/

/* We only need semibold (600) and bold (700) weights */

@font-face{
	font-family: 'Zilla Slab';
	src: url('font/ZillaSlab-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Zilla Slab';
	src: url('font/ZillaSlab-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'Zilla Slab';
	src: url('font/ZillaSlab-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'Zilla Slab';
	src: url('font/ZillaSlab-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}
